<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <title>404 Page - Greenowl Mobile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" th:src="@{/images/favicon.io}"
          href="../../static/images/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="../../static/css/404.css" th:href="@{/css/404.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="page-404-3" class="panda-wrapper panda-404">
    <div class="panda-content">
        <img class="logo-pd-2" src="../../static/images/404.png" th:src="@{/images/404.png}" alt="" style="height: 700px;" />

        <h2 class="rs title-404">too fat to reach!</h2>

        <p class="rs">Uh Oh! We can't find that page, please try one of these instead!</p>
    </div>
</div>
</body>
</html>

