<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Create New Application Config</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Config <b>Key</b></label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Configuration Key" class="form-control input-md">
                <span class="help-block">help</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Config <b>Value</b></label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Configuration Value" class="form-control input-md">
                <span class="help-block">help</span>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectmultiple">Type = <b>{{selectedType}}</b></label>
            <div class="col-md-4">
                <select id="selectmultiple" class="form-control" multiple>
                    <option ng-selected="type == selectedTypes" ng-click="selectType(type)"
                            ng-repeat="type in types">
                        {{type}}
                    </option>
                </select>
            </div>
        </div>

    </fieldset>
</form>
