<div ng-init="init()">

    <h1>Transactions</h1>

    <form>
        <div class="form-group">
            <div style="margin: 3%;"></div>
            <!--  <div class="checkbox">
                <label><input ng-model="daily" ng-change="getRecords()" type="checkbox" value="">Daily</label>
                
            </div>-->
            <div style="margin: 3%;"></div>
            Date:&nbsp;&nbsp;<input type="date" name="date" id="date" size="25" value="2016-04-11" ng-change="getRecordsByDate()" value="" ng-model="dt"/>
            <!-- <label style="margin-left: 2%;"><input ng-change="getRecords()" ng-model="inFlight" type="checkbox" value="">In Flight</label>-->            
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="parking-status" ng-model="parking.status" ng-change="getRecordsByDate()" value="0">All</input>
	            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="parking-status" ng-model="parking.status" ng-change="getRecordsByDate()" value="1">Completed</input>
	            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="parking-status" ng-model="parking.status" ng-change="getRecordsByDate()" value="2">Parked</input>
	            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="parking-status" ng-model="parking.status" ng-change="getRecordsByDate()" value="3">Pending Enter</input>
	            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="parking-status" ng-model="parking.status" ng-change="getRecordsByDate()" value="4">Pending Exit</input>
	            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="parking-status" ng-model="parking.status" ng-change="getRecordsByDate()" value="5">Alarm Enter</input>
	            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="parking-status" ng-model="parking.status" ng-change="getRecordsByDate()" value="6">Alarm Exit</input>
            
            <div style="margin: 3%;"></div>
	        <div class="input-group">            
	            
	            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
	            <input type="text" class="form-control" placeholder="Search" ng-model="searchRecord"/>
	        </div>  
	        <div style="margin: 3%;"></div>          
        </div>
    </form>
    <div ng-show="loading" class="loader">Loading...</div>

    <table ng-show="!loading" class="table table-bordered table-striped"
           style="text-align:center;vertical-align:middle;">
        <thead>
        <tr>
            <td>
                <a href="#/transactions" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                    Ticket
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#/transactions" ng-click="sortType = 'parkingStatus'; sortReverse = !sortReverse">
                    Record Status
                    <span ng-show="sortType == 'parkingStatus' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'parkingStatus' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#/transactions" ng-click="sortType = 'entryDateTime'; sortReverse = !sortReverse">
                    Time in
                    <span ng-show="sortType == 'entryDateTime' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'entryDateTime' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#/transactions" ng-click="sortType = 'exitDateTime'; sortReverse = !sortReverse">
                    Time Out
                    <span ng-show="sortType == 'exitDateTime' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'exitDateTime' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#/transactions" ng-click="sortType = 'userPlateNumber'; sortReverse = !sortReverse">
                    License Plate
                    <span ng-show="sortType == 'userPlateNumber' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userPlateNumber' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#/transactions" ng-click="sortType = 'userEmail'; sortReverse = !sortReverse">
                    Email
                    <span ng-show="sortType == 'userEmail' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userEmail' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#/transactions" ng-click="sortType = 'createDate'; sortReverse = !sortReverse">
                    Creation Date
                    <span ng-show="sortType == 'createDate' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'createDate' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                Action
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in records | orderBy:sortType:sortReverse | filter:searchRecord">
            <td>{{record.id}}</td>
            <td>
                <span ng-show="record.pType == 2" class="label label-info">{{record.portalParkingStatus| limitTo: 20 }}{{record.portalParkingStatus.length > 20 ? '...' : ''}}</span>
                <span ng-show="record.pType == -1" class="label label-danger">{{record.portalParkingStatus| limitTo: 20 }}{{record.portalParkingStatus.length > 20 ? '...' : ''}}</span>
                <span ng-show="record.pType == 0" class="label label-success">{{record.portalParkingStatus| limitTo: 20 }}{{record.portalParkingStatus.length > 20 ? '...' : ''}}</span>
                <span ng-show="record.pType == 1" class="label label-danger">{{record.portalParkingStatus| limitTo: 20 }}{{record.portalParkingStatus.length > 20 ? '...' : ''}}</span>
                <span ng-show="record.pType == 3" class="label label-warning">{{record.portalParkingStatus| limitTo: 20 }}{{record.portalParkingStatus.length > 20 ? '...' : ''}}</span>
            </td>
            <td>{{record.entryDateTime | date: "yyyy-MM-dd HH:mm" }}</td>
        	<td>{{record.exitDateTime | date: "yyyy-MM-dd HH:mm" }}</td>
            <td>{{record.userPlateNumber}}</td>
            <td>{{record.userEmail}}</td>
            <td>{{record.createdDate | date: "yyyy-MM-dd HH:mm"}}</td>
            <td>
                <button class="btn btn-sm btn-success" ng-click="openModal(record)">View Detail</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="!loading && (records == null || records.length == 0)" style="margin-left: 37%;"> There doesn't seem to
        be
        any
        transactions
    </div>

    <script type="text/ng-template" id="transactionTemplate.html">
        <div class="modal-header">
            <h3 class="modal-title">Transaction: </h3>
        </div>
        <div class="modal-body">
            <b> Ticket: </b> {{record.id}} </br>
            <b> Status: </b>
            <span ng-show="record.pType == 0" class="label label-success">{{record.portalParkingStatus}}</span>
            <span ng-show="record.pType == 1" class="label label-danger">{{record.portalParkingStatus}}</span>
            <span ng-show="record.pType == 2" class="label label-info">{{record.portalParkingStatus}}</span>
            <span ng-show="record.pType == 3" class="label label-warning">{{record.portalParkingStatus}}</span>
            <span ng-show="record.pType == -1" class="label label-danger">{{record.portalParkingStatus}}</span>
               
            </br>           
            <b> Email: </b> {{record.userEmail}} </br>
            <b> Phone Number: </b> {{record.userPhoneNumber}} </br>
            <b> License Plate: </b> {{record.userPlateNumber}} </br>
            <b> Payment Plan: </b> Payroll </br>
            <b> Device Info: </b> {{record.deviceInfo}} </br>
            <b> Time in: </b> {{record.entryDateTime | date:"yyyy-MM-dd HH:mm" }}</br>
            <b> Time Out: </b> {{record.exitDateTime | date:"yyyy-MM-dd HH:mm" }}</br>
            <b> Status Log: </b> 
            <table>
                <tr ng-repeat="log in statusLogs">
                    <td>{{log.statusTime | date:"yyyy-MM-dd HH:mm:ss" }} {{log.status}}</td>
                </tr>
            </table>
            </br>
        </div>
        <div class="modal-footer">
            <!--<button class="btn btn-danger" ng-click="openGate1()">Enter</button>-->
            <button ng-show="record.parkingStatus != 'COMPLETED'" class="btn btn-danger" ng-click="openGate2()">Open Exit Gate</button>
            <button class="btn btn-success" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <script type="text/ng-template" id="openGateTemplate1.html">
        <div class="modal-header">
            <h4 class="modal-title">Gate Operation For Ticket {{record.id}} </h3>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="open1()">Open Gate</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="openGateTemplate2.html">
        <div class="modal-header">
            <h4 class="modal-title">Gate Operation For Ticket {{record.id}} </h3>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="open2()">Open Gate</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
