<h1>{{ getTitle()}} [{{today}}]</h1>

<form>
    <div class="form-group">
        <div style="margin: 3%;"></div>
        <div class="checkbox">
            <label><input ng-model="daily" ng-change="getRecords()" type="checkbox" value="">Daily</label>
            <label style="margin-left: 2%;"><input ng-change="getRecords()" ng-model="inFlight" type="checkbox"
                                                   value="">In Flight</label>
        </div>
        <div style="margin: 3%;"></div>
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchRecord"/>
        </div>
    </div>
</form>
<div ng-show="loading" class="loader">Loading...</div>

<table ng-show="!loading" class="table table-bordered table-striped" style="text-align:center;vertical-align:middle;">
    <thead>
    <tr>
        <td>
            <a href="#/transactions" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                ID
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/transactions" ng-click="sortType = 'parkingStatus'; sortReverse = !sortReverse">
                Record Status
                <span ng-show="sortType == 'parkingStatus' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'parkingStatus' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/transactions" ng-click="sortType = 'entryDateTime'; sortReverse = !sortReverse">
                Time in
                <span ng-show="sortType == 'entryDateTime' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'entryDateTime' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/transactions" ng-click="sortType = 'exitDateTime'; sortReverse = !sortReverse">
                Time Out
                <span ng-show="sortType == 'exitDateTime' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'exitDateTime' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/transactions" ng-click="sortType = 'userPlateNumber'; sortReverse = !sortReverse">
                License Plate
                <span ng-show="sortType == 'userPlateNumber' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'userPlateNumber' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/transactions" ng-click="sortType = 'userEmail'; sortReverse = !sortReverse">
                Email
                <span ng-show="sortType == 'userEmail' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'userEmail' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/transactions" ng-click="sortType = 'createDate'; sortReverse = !sortReverse">
                Creation Date
                <span ng-show="sortType == 'createDate' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'createDate' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            Action
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="record in records | orderBy:sortType:sortReverse | filter:searchRecord">
        <td>{{record.id}}</td>
        <td>
            <span ng-show="record.pType == 2" class="label label-default">{{record.parkingStatus| limitTo: 20 }}{{record.parkingStatus.length > 20 ? '...' : ''}}</span>
            <span ng-show="record.pType == -1" class="label label-danger">{{record.parkingStatus| limitTo: 20 }}{{record.parkingStatus.length > 20 ? '...' : ''}}</span>
            <span ng-show="record.pType == 0" class="label label-success">{{record.parkingStatus| limitTo: 20 }}{{record.parkingStatus.length > 20 ? '...' : ''}}</span>
            <span ng-show="record.pType == 1" class="label label-primary">{{record.parkingStatus| limitTo: 20 }}{{record.parkingStatus.length > 20 ? '...' : ''}}</span>
        </td>
        <td>{{record.entryDateTime | date: "h:mm a" }}</td>
        <td>{{record.exitDateTime | date: "h:mm a" }}</td>
        <td>{{record.userPlateNumber}}</td>
        <td>{{record.userEmail}}</td>
        <td>{{record.createdDate | date: 'short'}}</td>
        <td>
            <button class="btn btn-sm btn-success" ng-click="openModal(record)">manage</button>
        </td>
    </tr>
    </tbody>
</table>
<div ng-show="!loading && (records == null || records.length == 0)" style="margin-left: 37%;"> There doesn't seem to be
    any
    transactions
</div>

<script type="text/ng-template" id="transactionTemplate.html">
    <div class="modal-header">
        <h3 class="modal-title">Transaction: </h3>
    </div>
    <div class="modal-body">
        <b> Id: </b> {{record.id}} </br>
        <b> Status: </b>
        <span ng-show="status == 0" class="label label-sm label-primary">Ok</span>
        <span ng-show="status == 1" class="label label-sm label-warning">Pending</span>
        <span ng-show="status == 2" class="label label-sm label-success">Completed</span>
        <span ng-show="status == -1" class="label label-sm label-danger">Error</span>
        </br>
        </br>
        <b> Msg: </b> {{record.parkingStatus}}  </br>
        </br>
        <b> Email: </b> {{record.userEmail}} </br>
        <b> Phone Number: </b> {{record.userPhoneNumber}} </br>
        <b> License Plate: </b> {{record.userPlateNumber}} </br>
        <b> Payment Method: </b> Payroll </br>
        <b> Time in: </b> {{record.entryDateTime | date:"EEEE MMMM dd, yyyy 'at' h:mma" }}</br>
        <b> Time Out: </b> {{record.exitDateTime | date:"EEEE MMMM dd, yyyy 'at' h:mma" }}</br>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="openGate()">Access Questions</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="openGateTemplate.html">
    <div class="modal-header">
        <h3 class="modal-title">Gate Operation For transaction id = {{record.id}} </h3>
    </div>
    <div class="modal-body">
        <div class="list-group">
            <h3> Access Questions </h3>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">What is your primary mobile phone number?</h4>

                <p class="list-group-item-text">{{record.userPhoneNumber}}</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">What is your primary vehicle license plate number?</h4>

                <p class="list-group-item-text">{{record.userLicensePlate}}</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">What is your email Address?</h4>

                <p class="list-group-item-text">{{record.userEmail}}</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">What is Subscription plan type?</h4>

                <p class="list-group-item-text">{{record.planName}}</p>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" ng-click="open()">Open Gate</button>-->
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
