<div class="center-block" id="circularG" ng-show="loading" class="center">
    <div id="circularG_1" class="circularG">
    </div>
    <div id="circularG_2" class="circularG">
    </div>
    <div id="circularG_3" class="circularG">
    </div>
    <div id="circularG_4" class="circularG">
    </div>
    <div id="circularG_5" class="circularG">
    </div>
    <div id="circularG_6" class="circularG">
    </div>
    <div id="circularG_7" class="circularG">
    </div>
    <div id="circularG_8" class="circularG">
    </div>
</div>
<div ng-show="!loading && successMsg" class="alert alert-success">
    <strong>Saved!</strong> Successfully saved Runtime Configuration File!
</div>
<div ng-show="!Loading && errorMsg" class="alert alert-danger">
    <strong>Danger!</strong> Unable to save RuntimeConfiguration File!
</div>
{{response}}
<div ng-show="!loading" class="row">
    <section>
        <div ui-ace="aceOption" ng-model="response"></div>
    </section>
    <div class="col-md-4">
        <button ng-click="save()" class="btn btn-lg btn-primary">Save</button>
    </div>
</div>

